agendamento-pJD5PkMqK3sw57Za.json
{"createdAt":"2025-03-13T16:47:14.643Z","updatedAt":"2025-03-13T17:00:25.835Z","id":"pJD5PkMqK3sw57Za","name":"agendamento","active":false,"nodes":[{"parameters":{"descriptionType":"manual","toolDescription":"=Chame essa tool para verificar horários disponíveis para reuniões.\n\nNão retorne nenhum horário se o usuário não informar o horário nem o dia desejado, sempre pergunte pelo dia e hora, e só depois você verifica se o horário está disponivel.\n\nO cliente pode lhe abordar a qualquer momento para agendar uma reunião, mas elas só podem ser marcadas entre segunda a sexta das 08 as 17 horas.\n\nRetorne se há uma reunião marcada ou o horário está disponivel no horário em que a pessoa perguntou. Lembre-se que as reuniões só podem ser marcadas entre segunda a sexta das 08 as 17 horas, Absolutamente nunca você poderá retorna que um horário está disponivel fora desses parametros.\n\nstartTime = {{ $now }}\nendTime = {{ $now.plus(1, 'hours') }}","resource":"calendar","calendar":{"__rl":true,"value":"daniloaraujopsd@gmail.com","mode":"list","cachedResultName":"daniloaraujopsd@gmail.com"},"timeMin":"={{ $fromAI(\"startTime\", \"horario para agendar\") }}","timeMax":"={{ $fromAI(\"endTime\", \"horario para agendar somado com 1 hora\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[260,240],"id":"71281570-31a0-48cd-867b-ca9400e1b7ad","name":"Verificar","credentials":{"googleCalendarOAuth2Api":{"id":"Ic4O0Un8vJYtgyOw","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"=Nome do cliente: {{ $json.query.nome }}\nEmail: {{ $json.query.email }}\nData: {{ $json.query.data }}\nEvento: {{ $json.query.evento }}","options":{"systemMessage":"=Você é um assistente especializado em agendamento de reuniões, ajudando os usuários a gerenciar compromissos com eficiência e precisão.\nRegras Gerais\n\nO horário atual e data atual são: {{ $now }}, e todas as reuniões devem seguir esse fuso horário.\n\nReuniões só podem ser agendadas de segunda a sexta, entre 08:00 e 17:00.\nSe um usuário tentar marcar fora desse período, responda: \"Não estamos disponíveis nesse horário.\" e pergunte se deseja um horário alternativo. exemplo: marcar uma reunião após as 17 horas, marcar uma reunião aos sábados ou domingos, retorne que não há horários nos fins de semana. nunca marque uma reunião entre as 17 horas e 8 horas do próximo dia, nem aos sábados, domingos e feriados.\n\nNunca sugira ou confirme reuniões fora do período permitido.\nCada usuário pode ter apenas uma reunião agendada por vez.\nSe o usuário já tiver uma reunião marcada, pergunte se deseja mantê-la ou reagendar.\nSe o horário solicitado já estiver ocupado, informe e sugira opções próximas dentro do horário permitido.\n\nAntes de responder algo sobre qualquer uma das ferramentas, primeiro verifiquo calendário, para ter certeza que todas as informções estão atualizadas. Também verifique se o cliente possui alguma reunião marcada, só depois de verificar isso você irá responde-lo.\n\nFerramentas Disponíveis\n#verificar\nVerifica se um horário específico está disponível.\nPergunte sempre pelo dia e hora antes de verificar.\nNão retorne disponibilidade fora do horário comercial (08:00 - 17:00, seg-sex).\nSe o horário já estiver ocupado, informe e sugira opções próximas.\n\n#lista\nLista todas as reuniões agendadas.\nUse sempre que o usuário pedir horários disponíveis para um dia específico.\nRetorne até 10 horários disponíveis, dentro do período permitido.\nNunca inclua horários fora do expediente.\n\n#agendar\nAgenda uma nova reunião.\nAntes de agendar, sempre verifique a disponibilidade.\nSe o usuário tentar marcar fora do horário comercial, informe que não há disponibilidade.\nNunca marque reuniões fora do horário permitido. Peça para o cliente escolher um horário comercial.\nEntrada necessária: Horário, Nome do Cliente, Email do Cliente.\n\n#reagendar\nReagenda uma reunião existente.\nVocê só pode reagendar uma reunião caso o cliente já tenha uma reunião marcada. Caso ele não tenha, informe que ele não possui uma reunião marcada e inicie o processo de marcar uma nova.\nSempre confirme o novo dia e horário com o usuário antes de reagendar. Retorne o id da reunião e o novo horário.\nReagende a reunião no horário informado pelo cliente.\nEntrada necessária: ID da reunião, Nova data e horário.\n\n#cancelar\nCancela uma reunião existente. Você irá localizar qual foi a data da última reunião que o cliente marcou, e irá retornar ela o id dela para que possa ser cancelada.\nConfirme se o cliente realmente deseja cancelar antes de prosseguir.\nEntrada necessária: ID da reunião.\n\n#agendado\nConfirmação sempre que um agendamento ou reagendamento for concluído.\n\nInstruções Adicionais\nPara fornecer um link do Google Meet, envie apenas o link direto, sem Markdown. Exemplo:\nLink para a reunião: https://meet.google.com/example\nSe houver erro em um agendamento, avise o usuário e peça novos detalhes."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[260,20],"id":"e06adc32-7d47-4cd6-a11c-620a552f2a7d","name":"IA Agendador"},{"parameters":{"descriptionType":"manual","toolDescription":"=Chame essa tool quando for checar a lista de horários disponíveis. Retorne 10 horários em ordem crescente, apenas aqueles que estão disponíveis, sem nada marcado. \n\nLembre-se que você pode retornar apenas os horários disponiveis entre as 08 e 17 de segunda a sexta, você não pode retornar nenhum horário disponivel fora desses parametros. ","operation":"getAll","calendar":{"__rl":true,"value":"daniloaraujopsd@gmail.com","mode":"list","cachedResultName":"daniloaraujopsd@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $now }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[380,240],"id":"353589b5-ec18-4272-9763-1777d5cbc19c","name":"Lista","credentials":{"googleCalendarOAuth2Api":{"id":"Ic4O0Un8vJYtgyOw","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=Chame essa tool quando for agendar uma reunião. Os horários disponíveis para agendamento são apenas de segunda a sexta das 08 até as 17 horas, nunca marque uma reunião fora desses horários. \n\nLembre-se que o cliente pode agendar uma reunião em qualquer horário com você desde que o horário que ela quer marcar seja entre segunda a sexta das 08 até as 17 horas.","calendar":{"__rl":true,"value":"daniloaraujopsd@gmail.com","mode":"list","cachedResultName":"daniloaraujopsd@gmail.com"},"start":"={{ $fromAI(\"startTime\", \"horario para agendar\") }}","end":"={{ $fromAI(\"endTime\", \"horario para agendar somado com 1 hora\") }}","additionalFields":{"attendees":["={{ $fromAI('email', 'email do cliente') }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"=Reunião sobre soluções, tecnologias para melhorar a eficiência e a escala da corretora.","summary":"=Reunião entre Aster e {{ $fromAI('name', 'nome do cliente') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[500,240],"id":"e6a7275c-f983-4282-8886-e92d45e02140","name":"Agendar","credentials":{"googleCalendarOAuth2Api":{"id":"Ic4O0Un8vJYtgyOw","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool quando for remarcar uma reunião. Sempre pergunte qual o novo horário e dia, e em seguida reagende no calendário. No final retorne que deu tudo certo caso a reunião tenha sido reagendada.","operation":"update","calendar":{"__rl":true,"value":"daniloaraujopsd@gmail.com","mode":"list","cachedResultName":"daniloaraujopsd@gmail.com"},"eventId":"={{ $fromAI('id', 'id do evento') }}","updateFields":{"end":"={{ $fromAI(\"endTime\", \"horario para agendar somado com 1 hora\") }}","start":"={{ $fromAI(\"startTime\", \"horario para agendar\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[620,240],"id":"578dff3d-3521-4ec7-80c6-17a11f99ae31","name":"Reagendar","credentials":{"googleCalendarOAuth2Api":{"id":"Ic4O0Un8vJYtgyOw","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recebe o id e horário, Cancela a reunião agendada para esse cliente, exclua a reunião que estava agendada para esse cliente.","operation":"delete","calendar":{"__rl":true,"value":"daniloaraujopsd@gmail.com","mode":"list","cachedResultName":"daniloaraujopsd@gmail.com"},"eventId":"={{ $fromAI('id', 'id do evento') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[740,240],"id":"4ff380f1-3ab6-46bd-81d8-7eeb9c7e6c09","name":"Cancelar","credentials":{"googleCalendarOAuth2Api":{"id":"Ic4O0Un8vJYtgyOw","name":"Google Calendar account"}}},{"parameters":{"httpMethod":"POST","path":"b3f29d8c-41b0-415d-8d65-ce9a39a984c6","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[60,20],"id":"7925714d-162b-4502-8533-799667664ee9","name":"Webhook","webhookId":"b3f29d8c-41b0-415d-8d65-ce9a39a984c6"},{"parameters":{"assignments":{"assignments":[{"id":"b666aa70-9089-4178-82eb-75c655a75efc","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,20],"id":"7570d5b7-db16-4be6-a6cf-53706a2c611f","name":"Edit Fields"},{"parameters":{"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[20,240],"id":"7e47943e-bd26-4f98-981b-9daacd246c90","name":"OpenAI Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.sessionid }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[160,360],"id":"d549a7ca-eaef-4805-882b-c8de0a795988","name":"Postgres Chat Memory"}],"connections":{"Verificar":{"ai_tool":[[{"node":"IA Agendador","type":"ai_tool","index":0}]]},"IA Agendador":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Lista":{"ai_tool":[[{"node":"IA Agendador","type":"ai_tool","index":0}]]},"Agendar":{"ai_tool":[[{"node":"IA Agendador","type":"ai_tool","index":0}]]},"Reagendar":{"ai_tool":[[{"node":"IA Agendador","type":"ai_tool","index":0}]]},"Cancelar":{"ai_tool":[[{"node":"IA Agendador","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"IA Agendador","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"IA Agendador","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"IA Agendador","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.daniloaraujo.shop","user-agent":"axios/1.7.4","content-length":"52","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"35.225.30.20","x-forwarded-host":"n8n.daniloaraujo.shop","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"70539dc618b3","x-real-ip":"35.225.30.20"},"params":{},"query":{"nome":"Danilo","email":"Danilo@gmail.com","numero":"99999999","data":"2025-03-01T15:25:19.416-03:00","evento":"verificar"},"body":{"sessionid":"55026788-bbb3-494b-92b6-75117ae724d0"},"webhookUrl":"https://webhook.daniloaraujo.shop/webhook-test/b3f29d8c-41b0-415d-8d65-ce9a39a984c6","executionMode":"test"}}]},"versionId":"b87a5f66-e469-4f3c-bfa6-a5b5524f8ff5","triggerCount":0,"tags":[{"createdAt":"2025-03-13T16:50:11.970Z","updatedAt":"2025-03-13T16:50:11.970Z","id":"eIG7lhnzqUlF68mj","name":"Youtube"}]}