backup-workflows-c7MqCLqwCz4aH8E0.json
{"createdAt":"2025-03-09T21:00:42.821Z","updatedAt":"2025-03-09T21:10:59.603Z","id":"c7MqCLqwCz4aH8E0","name":"backup-workflows","active":false,"nodes":[{"parameters":{},"id":"2cf41c6c-696c-4e0c-a2d9-d77ad3df86e9","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2600,-20]},{"parameters":{"options":{}},"id":"2b816cf9-dcc2-4a98-8214-ceee44220c35","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2400,-20]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"0c210d5a-4e27-4913-ba9a-c78135d2e382","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2200,-20]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"370434f3-ca5a-4c1c-9b74-188cb4b8e5ff","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2000,-20]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflows-backup","mode":"list","cachedResultName":"n8n-workflows-backup","cachedResultUrl":"https://github.com/ClenildonFerreira/n8n-workflows-backup"},"filePath":"="},"id":"0ceab6c0-25cc-44c5-8a9b-0eddd2bfadcd","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1800,-20],"alwaysOutputData":true},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"5dbc553d-41b1-4f07-9f33-bf7b50b81c24","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1600,-20]},{"parameters":{"filters":{},"requestOptions":{}},"id":"65424471-c26f-4281-8485-9457a21d8d72","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1400,-20],"credentials":{"n8nApi":{"id":"c1xLfLyfulXRSTZv","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"aaafdcd7-8b60-4dcc-9a85-305c2e57509c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1200,-20]},{"parameters":{"batchSize":1,"options":{}},"id":"57469d72-66e7-42ce-b37d-6eea2dbce81e","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-960,-20]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"b9838e0d-66fc-4411-a504-e83286598c53","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-720,-100]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflows-backup","mode":"list","cachedResultName":"n8n-workflows-backup","cachedResultUrl":"https://github.com/ClenildonFerreira/n8n-workflows-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e3dbafc5-7e67-4305-9124-09fac324e38d","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-500,-300]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira","mode":"url"},"repository":{"__rl":true,"value":"n8n-workflows-backup","mode":"list","cachedResultName":"n8n-workflows-backup","cachedResultUrl":"https://github.com/ClenildonFerreira/n8n-workflows-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"adb323cb-5fff-482b-addf-f2004ec64f53","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-500,100]}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d936f7d7-0071-446f-8195-9d8f3258bd0d","triggerCount":0,"tags":[{"createdAt":"2025-03-09T21:00:36.408Z","updatedAt":"2025-03-09T21:00:36.408Z","id":"0u7wfNptFba0l6rt","name":"backup"}]}