controle-de-duplicata---kommo-30CdeNAjHYa926Wh.json
{"createdAt":"2025-03-07T13:17:34.066Z","updatedAt":"2025-03-09T20:32:18.349Z","id":"30CdeNAjHYa926Wh","name":"Controle de Duplicata - Kommo","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"crxDuplicate","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1540,-640],"id":"c54a35a7-380c-4c80-ae61-c072ed4ae886","name":"Webhook","webhookId":"fb2d9221-574d-4830-b202-5321d7a60f84"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"id":"={{ $json._embedded.leads[0]._embedded.contacts[0].id }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1240,-640],"id":"d13f9692-ee1a-4bd7-a707-c1501891d613","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.body[\"leads[status][0][id]\"] }}"},"options":{"with":["contacts"]},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1400,-640],"id":"1516e0c7-fe2a-4d7f-863c-fcf0158ec457","name":"Kommo API Node1","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"query":"={{ $json._embedded.contacts[0].custom_fields_values[0].values[0].value }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1040,-640],"id":"21c209e6-56c9-4e31-abc9-f534b49193c9","name":"Kommo API Node2","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"jsCode":"const pipelineIdsPermitidos = [10630032, 10630036, 10630220]; \nconst resultados = [];\nconst leads = items[0]?.json?._embedded?.leads || [];\n\nconsole.log(\"📌 Leads recebidos:\", JSON.stringify(leads, null, 2));\n\nconst leadsFiltrados = leads.filter(lead => pipelineIdsPermitidos.includes(lead.pipeline_id));\n\nconsole.log(\"🎯 Leads filtrados:\", JSON.stringify(leadsFiltrados, null, 2)); \n\nfor (const lead of leadsFiltrados) {\n  resultados.push({ json: lead });\n}\n\nconsole.log(\"✅ Saída Final:\", JSON.stringify(resultados, null, 2));\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-740],"id":"a900ed4d-6208-4f68-b349-32a654d20ccc","name":"Filtro Funil"},{"parameters":{"errorMessage":"Lead Não e Duplicado "},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-480,-380],"id":"8886cac0-6403-46e2-a68f-fca0a06436b7","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95aae765-4f83-41f8-a868-e3390b37dc6d","leftValue":"={{ $json[\"_embedded\"].leads.length }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-840,-640],"id":"926cee9c-9b6d-4137-a78f-9996a8879253","name":"Verificar se hã mais de um registro"},{"parameters":{"jsCode":"// Obter os dados do Webhook\nconst dataWebhook = $('Webhook').first().json.body;\n\n// Obter o ID da lead de destino\nconst leadIdDestino = Number(dataWebhook[\"leads[status][0][id]\"]); \n\n// Obter todos os itens (leads)\nconst items = $input.all();\n\n// Log para depuração\nconsole.log(\"Leads recebidos:\", items.map(i => i.json.id)); \nconsole.log(\"Lead ID destino:\", leadIdDestino);\n\n// Separar a lead de destino\nconst leadDestino = items.find(item => Number(item.json.id) === leadIdDestino);\n\nif (!leadDestino) {\n  throw new Error(`Lead de destino com ID ${leadIdDestino} não encontrado nos dados disponíveis.`);\n}\n\n// Separar o restante das leads\nconst leadsRestantes = items.filter(item => Number(item.json.id) !== leadIdDestino);\n\n// Processar as tags da leadDestino\nlet tagsDestino = leadDestino.json._embedded?.tags || [];\n\n// Percorrer todas as leads restantes e adicionar tags que não existam ainda na leadDestino\nleadsRestantes.forEach(item => {\n  let lead = item.json;\n\n  if (lead._embedded?.tags) {\n    lead._embedded.tags.forEach(tag => {\n      const tagExiste = tagsDestino.some(t => t.id === tag.id);\n      if (!tagExiste) {\n        tagsDestino.push(tag);\n      }\n    });\n  }\n});\n\n// Atualizar as tags da lead de destino\nleadDestino.json._embedded.tags = tagsDestino;\n\n// Retornar os dois conjuntos como saída\nreturn {\n  leadSelecionada: leadDestino.json, // Lead correspondente ao ID\n  leadsRestantes: leadsRestantes.map(item => item.json) // O restante das leads\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,-760],"id":"07ecbd2d-d323-4a3c-b24f-3ff0492dbcb5","name":"pergar a lead atual e meclar as tags"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-680],"id":"0a9799ce-e13e-433d-af4b-c88571d0e53b","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[740,-440],"id":"21e8770d-0dfb-4c8d-a944-a7e5050b6a14"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[360,-500],"id":"295b6346-8828-4101-a7ab-15af18deb68a","name":"Wait","webhookId":"c02c26db-d66b-40bf-b1df-5616e26413fc"},{"parameters":{"jsCode":"const leadsRestantes = items[0].json.leadsRestantes;\n\n// Iterar sobre os itens e separá-los por id\nconst output = leadsRestantes.map(lead => {\n  return {\n    json: lead\n  };\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-60,-720],"id":"09f2ff74-b5ca-45fb-b779-506debf5a894","name":"Leads Duplicados"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-40,-900],"id":"2e59d278-036f-4c2c-b740-5f6bdb1380f5","name":"Wait1","webhookId":"74cdbe46-7ce1-4604-b0b1-0d8ecc4609a8"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $('pergar a lead atual e meclar as tags').item.json.leadSelecionada.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"_embedded\": {\n    \"tags\": \n       {{ JSON.stringify($json[\"leadSelecionada\"][\"_embedded\"][\"tags\"].map(tag => ({ id: tag.id }))) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,-900],"id":"ddd9c9e5-11d9-45c1-b9fb-c6687e44fc04","name":"Atualizar Tag Lead"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81824980\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,-480],"id":"dd1e6081-dd05-40a4-8827-f69793746039","name":"Atualizar Status"}],"connections":{"Webhook":{"main":[[{"node":"Kommo API Node1","type":"main","index":0}]]},"Kommo API Node1":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]},"Kommo API Node":{"main":[[{"node":"Kommo API Node2","type":"main","index":0}]]},"Kommo API Node2":{"main":[[{"node":"Verificar se hã mais de um registro","type":"main","index":0}]]},"Filtro Funil":{"main":[[{"node":"pergar a lead atual e meclar as tags","type":"main","index":0}]]},"Verificar se hã mais de um registro":{"main":[[{"node":"Filtro Funil","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"pergar a lead atual e meclar as tags":{"main":[[{"node":"Leads Duplicados","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Atualizar Status","type":"main","index":0}]]},"Leads Duplicados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Atualizar Tag Lead","type":"main","index":0}]]},"Atualizar Tag Lead":{"main":[[]]},"Atualizar Status":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf4f0137-b23b-4b00-a257-0e78a4df90c3","triggerCount":1,"tags":[{"createdAt":"2025-03-07T19:52:54.027Z","updatedAt":"2025-03-07T19:52:54.027Z","id":"6qfwG2Edug14hqsF","name":"CRX"}]}