controle-de-duplicata-xSiG1qplOgO8ANgj.json
{"createdAt":"2025-03-13T22:50:29.128Z","updatedAt":"2025-03-14T04:16:13.702Z","id":"xSiG1qplOgO8ANgj","name":"Controle de Duplicata","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"consultor","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1900,-1000],"id":"9c0413c9-2308-4c35-86dc-8436a1e2f932","name":"Webhook","webhookId":"54835e1e-150e-4aa3-a841-6a3cbe8a1c51"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"id":"={{ $json._embedded.leads[0]._embedded.contacts[0].id }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1300,-860],"id":"6a19cedc-6b1d-4a92-9b46-9c934cece093","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.Lead_ID }}"},"options":{"with":["contacts"]},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1500,-860],"id":"04f29bd8-8ea6-4032-a109-609f4aac61ec","name":"Kommo API Node1","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"query":"={{ $json._embedded.contacts[0].custom_fields_values[0].values[0].value }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1100,-860],"id":"3248d49a-a7c1-4c0e-a753-598dc2839fa1","name":"Kommo API Node2","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"jsCode":"const pipelineIdsPermitidos = [10630032, 10630036];\nconst statusIdsBloqueados = [142, 143];\nconst resultados = [];\nconst leads = items[0]?.json?._embedded?.leads || [];\n\nconsole.log(\"📌 Leads recebidos:\", JSON.stringify(leads, null, 2));\nconsole.log(`📊 Total de leads recebidos: ${leads.length}`);\n\n// Filtra leads com pipeline_id permitido e status_id não bloqueado\nconst leadsFiltrados = leads.filter(lead => \n  pipelineIdsPermitidos.includes(lead.pipeline_id) && \n  !statusIdsBloqueados.includes(lead.status_id)\n);\n\nconsole.log(\"🎯 Leads filtrados:\", JSON.stringify(leadsFiltrados, null, 2));\nconsole.log(`🔍 Total de leads filtrados: ${leadsFiltrados.length}`);\n\n// Prepara o resultado final e adiciona contador\nfor (const lead of leadsFiltrados) {\n  resultados.push({ json: lead });\n}\n\n// Adiciona o total de resultados como campo extra\nconst resultadoFinal = {\n  totalLeadsRecebidos: leads.length,\n  totalLeadsFiltrados: leadsFiltrados.length,\n  totalResultados: resultados.length,\n  resultados\n};\n\nconsole.log(\"✅ Saída Final com contadores:\", JSON.stringify(resultadoFinal, null, 2));\n\nreturn resultadoFinal;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-900,-860],"id":"5506b0af-33bd-40f8-a6ae-aca4bf65a8de","name":"Filtro Funil"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e9f9033-ca61-428f-a39b-7fecef507987","leftValue":"={{ $json.totalResultados }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-700,-860],"id":"ade63d4b-6f80-4d0c-8c3c-4937005bad9e","name":"Verificar se hã mais de um registro"},{"parameters":{"jsCode":"const leadIdDestino = Number($('Edit Fields').first().json.Lead_ID);\nconsole.log(\"Lead ID destino (verificação):\", leadIdDestino);\n\nif (isNaN(leadIdDestino)) {\n  throw new Error(`Lead ID destino não é um número válido: ${$('Edit Fields').first().json.Lead_ID}`);\n}\n\nconst items = $input.first().json.resultados;  // Acessa o array 'resultados'\nconsole.log(\"Leads recebidos:\", items.map(i => i.json.id));  // Imprime todos os IDs dos leads recebidos\n\nconsole.log(\"Lead ID destino:\", leadIdDestino);\n\n// Verifica se o Lead de destino está nos dados recebidos\nconst leadDestino = items.find(item => item.json.id === leadIdDestino);\n\nif (!leadDestino) {\n  throw new Error(`Lead de destino com ID ${leadIdDestino} não encontrado nos dados disponíveis.`);\n}\n\nconst leadsRestantes = items.filter(item => item.json.id !== leadIdDestino);\n\nlet tagsDestino = leadDestino.json._embedded?.tags || [];\n\n// Usando Set para evitar duplicatas de tags\nconst tagIds = new Set(tagsDestino.map(tag => tag.id));\n\nleadsRestantes.forEach(item => {\n  const lead = item.json;\n  if (lead._embedded?.tags) {\n    lead._embedded.tags.forEach(tag => {\n      if (!tagIds.has(tag.id)) {\n        tagIds.add(tag.id);\n        tagsDestino.push(tag);\n      }\n    });\n  }\n});\n\nleadDestino.json._embedded.tags = tagsDestino;\n\nreturn {\n  leadSelecionada: leadDestino.json,\n  leadsRestantes: leadsRestantes.map(item => item.json)\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,-1000],"id":"d806bde4-f72a-4267-9228-a901c973145a","name":"pergar a lead atual e meclar as tags"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $json.leadSelecionada.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81824980\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,-1240],"id":"324951ca-5268-4bae-8867-3d4a176bf32c","name":"Atualizar Tag Lead"},{"parameters":{"assignments":{"assignments":[{"id":"5597001f-2df1-46fc-9709-ae70f5b3e90b","name":"Lead_ID","value":"={{ $json.body[\"leads[add][0][id]\"] || $json.body[\"leads[status][0][id]\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,-1000],"id":"d6ae28be-8125-4f5d-911b-c53a40cc9f16","name":"Edit Fields"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,-1240],"id":"8a9faebd-c4c4-4c9e-aa61-8f6be3501b7d","name":"Pausa","webhookId":"cf9c95cf-23fd-4a78-a1c1-b21aeae1e25b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"873bc6fd-49a2-47eb-b2cd-72c2897b6e48","leftValue":"={{ $json.existeLeadComStatus }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,-1080],"id":"d9d61908-93ed-4ab4-a5f7-185b6e37b8c5","name":"If"},{"parameters":{"jsCode":"const leadsRestantes = $json[\"leadsRestantes\"] || [];\nconst leadSelecionada = $json[\"leadSelecionada\"] || {};\n\nconst statusAlvo = [81514956, 81514960, 81514964];\n\nconst leadsComStatusAlvo = leadsRestantes.filter(item => statusAlvo.includes(item.status_id));\n\nconst existeLeadComStatus = leadsComStatusAlvo.length > 0;\n\nreturn {\n  leadSelecionada: leadSelecionada,\n  leadsComStatusAlvo: leadsComStatusAlvo,\n  existeLeadComStatus: existeLeadComStatus\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,-1000],"id":"3e75abf3-6564-48cd-bb7d-d202022aceca","name":"Trata Leads Duplicados"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[560,-1240],"id":"8bb28256-1caa-471b-98d9-a7368b6e0726","name":"Wait","webhookId":"a4709e49-bd67-4e2f-a4a3-7fceffd0030c"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $('If').item.json.leadsComStatusAlvo[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81514964\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-1240],"id":"0748f8f4-3d20-44ff-8583-b3e4debb2dcf","name":"Atualizar Tag Lead1"},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"O cliente entrou em contato usando o número de outro consultor.","complete_till":"2025-03-14T00:16:31","entity_id":"={{ $('If').item.json.leadsComStatusAlvo[0].id }}","duration":500}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[960,-1240],"id":"286c514c-a162-476f-8f21-b0e6b47488d1","name":"Kommo API Node3","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"O cliente entrou em contato usando o número  consultor.","complete_till":"2025-03-14T00:16:31","responsible_user_id":"={{ $json.resultados[0].json.responsible_user_id }}","entity_id":"={{ $json.resultados[0].json.id }}","duration":500}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-420,-780],"id":"9d2a6c51-a3eb-4ef5-a22d-9f3e32237179","name":"Kommo API Node4","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $json.leadSelecionada.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81824980\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-1080],"id":"462ab774-2e29-4502-9a5c-80df0db644e3","name":"Atualizar Tag Lead2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[320,-1080],"id":"ef368d49-95d7-40db-b4b9-4d5a629b1e23","name":"Wait1","webhookId":"a4709e49-bd67-4e2f-a4a3-7fceffd0030c"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $('If').item.json.leadsComStatusAlvo[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81514964\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-1080],"id":"eeed4931-8ba8-4014-b544-17d92c08e4c7","name":"Atualizar Tag Lead3"},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"O cliente entrou em contato usando o número de outro consultor.","complete_till":"2025-03-14T00:16:31","entity_id":"={{ $('If').item.json.leadsComStatusAlvo[0].id }}","duration":500}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[660,-1080],"id":"fbdeea5f-e9d5-4364-aec5-59e0112a4dfe","name":"Kommo API Node5","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Kommo API Node1":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]},"Kommo API Node":{"main":[[{"node":"Kommo API Node2","type":"main","index":0}]]},"Kommo API Node2":{"main":[[{"node":"Filtro Funil","type":"main","index":0}]]},"Filtro Funil":{"main":[[{"node":"Verificar se hã mais de um registro","type":"main","index":0}]]},"Verificar se hã mais de um registro":{"main":[[{"node":"pergar a lead atual e meclar as tags","type":"main","index":0}],[{"node":"Kommo API Node4","type":"main","index":0}]]},"pergar a lead atual e meclar as tags":{"main":[[{"node":"Trata Leads Duplicados","type":"main","index":0}]]},"Atualizar Tag Lead":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Kommo API Node1","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Atualizar Tag Lead","type":"main","index":0}]]},"Trata Leads Duplicados":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Pausa","type":"main","index":0}],[{"node":"Atualizar Tag Lead2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Atualizar Tag Lead1","type":"main","index":0}]]},"Atualizar Tag Lead1":{"main":[[{"node":"Kommo API Node3","type":"main","index":0}]]},"Atualizar Tag Lead2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Atualizar Tag Lead3","type":"main","index":0}]]},"Atualizar Tag Lead3":{"main":[[{"node":"Kommo API Node5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"17bf8747-8dcf-497f-a784-a8349d82d902","triggerCount":1,"tags":[{"createdAt":"2025-03-07T19:52:54.027Z","updatedAt":"2025-03-07T19:52:54.027Z","id":"6qfwG2Edug14hqsF","name":"CRX"}]}