crx-summit-bwuVVdB3H2HLXXX6.json
{"createdAt":"2025-03-13T16:25:47.192Z","updatedAt":"2025-03-13T19:28:39.764Z","id":"bwuVVdB3H2HLXXX6","name":"CRX Summit","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"teste-crx-summit","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,0],"id":"8979b727-8b37-4f75-a07b-d7f85ae9d855","name":"Webhook","webhookId":"0da5af0f-5528-4674-91d6-f4e5059d07e1"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","operation":"createContacts","collection":{"contact":[{"name":"={{ $json.nome }}","last_name":"={{ $json.nome }}","responsible_user_id":12190300,"created_at":"2025-03-13T15:48:35","custom_fields_values":{"custom_field":[{"data":"{\"id\":737988,\"type\":\"multitext\"}","value":"={{ $json.telefone }}"},{"data":"{\"id\":737990,\"type\":\"multitext\"}","value":"={{ $json.email }}"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[0,0],"id":"c8a719d8-1e4a-497d-8cc1-6aec6827ced9","name":"Criar contato","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst updatedItems = items.map(item => {\n  let telefone = item.json.telefone;\n  if (telefone && telefone.length === 11) {\n    telefone = telefone.slice(0, 2) + telefone.slice(3);\n  }\n\n  if (!telefone.startsWith('+55')) {\n    telefone = '+55' + telefone;\n  }\n\n  item.json.telefone = telefone;\n\n  const tipoTickert = item.json.tipoTickert;\n  if (tipoTickert === 'formblack') {\n    item.json.tipoTickert = 'CRX SUMMIT - Black';\n  } else if (tipoTickert === 'formvip') {\n    item.json.tipoTickert = 'CRX SUMMIT - Vip';\n  } else if (tipoTickert === 'formexecutivo') {\n    item.json.tipoTickert = 'CRX SUMMIT - Executivo';\n  }\n\n  return item;\n});\n\nreturn updatedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,0],"id":"7d694c0e-d5cf-4c27-a55f-672ff86cb6c8","name":"Correção de Fontes1"},{"parameters":{"assignments":{"assignments":[{"id":"6d6f93c1-4e74-4660-b138-9016b65ca68c","name":"nome","value":"={{ $json.body[\"fields[name][value]\"] || $json.body.Nome }}","type":"string"},{"id":"c3f16fff-af14-484b-9275-d72018da6613","name":"email","value":"={{ $json.body[\"fields[message][value]\"] || $json.body[\"E-mail\"] }}","type":"string"},{"id":"e466ba01-ddb9-4200-bc4d-a56a26020567","name":"telefone","value":"={{ $json.body[\"fields[email][raw_value]\"] || $json.body.Telefone }}","type":"string"},{"id":"ef38cf23-aa67-44ae-8a14-15d603da0df8","name":"tipoTickert","value":"={{ $json.body[\"form[name]\"] || $json.body.form_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,0],"id":"da495588-fd68-4c03-99c4-a3b8c3527a35","name":"DadosMapeados"},{"parameters":{"method":"POST","url":"=https://crx.kommo.com/api/v4/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"responsible_user_id\": 12069188,\n  \"_embedded\": {\n    \"tags\": \n       {{ JSON.stringify($json[\"DadosMapeados\"][\"_embedded\"][\"tags\"].map(tag => ({ id: tag.id }))) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-180],"id":"4cc96bf8-a96b-48b9-84cb-3915420bbe8e","name":"Atualizar Tag Lead"},{"parameters":{"method":"POST","url":"=https://crx.kommo.com/api/v4/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-280],"id":"588d4672-51b0-41a5-8804-efcdbaf35449","name":"Atualizar Tag Lead1"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"createLeads","collection":{"lead":[{}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[200,0],"id":"44da0b46-a8f3-41f7-b71c-7bba891d4291","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"a2R3GcIa7vb6JC80","name":"Kommo Long Lived Token CRX"}}}],"connections":{"Criar contato":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"DadosMapeados","type":"main","index":0}]]},"Correção de Fontes1":{"main":[[{"node":"Criar contato","type":"main","index":0}]]},"DadosMapeados":{"main":[[{"node":"Correção de Fontes1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8nwebhook.cearatec.cloud","user-agent":"WordPress/6.7.2; https://crx.com.br","content-length":"412","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"45.148.96.21","cf-ipcountry":"BR","cf-ray":"91fd1d615c37627c-GRU","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"45.148.96.21, 172.69.11.183","x-forwarded-host":"n8nwebhook.cearatec.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b17d2d91e4f5","x-real-ip":"172.69.11.183"},"params":{},"query":{},"body":{"Nome":"teste","Telefone":"51987654321","E-mail":"teste@gmail.com","Data":"13 de março de 2025","Horário":"14:05","URL da página":"https://crx.com.br/crx-summit/","Agente de usuário":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36","IP remoto":"138.97.136.161","Desenvolvido por":"Elementor","form_id":"a182f70","form_name":"formblack"},"webhookUrl":"https://n8nwebhook.cearatec.cloud/webhook/teste-crx-summit","executionMode":"production"}}]},"versionId":"7ee83c16-0d75-4a8a-9832-3bffdc6d3884","triggerCount":1,"tags":[{"createdAt":"2025-03-07T19:52:54.027Z","updatedAt":"2025-03-07T19:52:54.027Z","id":"6qfwG2Edug14hqsF","name":"CRX"}]}