my-workflow-cIkIWcwcOkrtc4AB.json
{"createdAt":"2025-03-08T14:37:42.273Z","updatedAt":"2025-03-08T14:37:42.273Z","id":"cIkIWcwcOkrtc4AB","name":"My workflow","active":false,"nodes":[{"parameters":{},"id":"2b08b3a6-0de8-4207-b300-471106fde1f2","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-540,120],"typeVersion":1},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### Você pode enviá-lo por e-mail, fazer upload para o armazenamento de arquivos ou fazer download em seu computador.\n### Basta conectar um ou dois nós n8n extras aqui!","height":280,"width":682},"id":"492879cf-60bf-4c01-8df2-136a1533f27f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"TableName","value":"SalesLT.ProductCategory"}]},"options":{}},"id":"88a3fc26-9048-4e9e-817e-03f9b8f5e2ce","name":"TableName","type":"n8n-nodes-base.set","position":[-340,120],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json[\"TableName\"] }}"},"id":"813e823f-6e6f-4290-b201-09cc9f047e1c","name":"LoadMSSQLData","type":"n8n-nodes-base.microsoftSql","position":[-160,120],"typeVersion":1},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"={{ $('TableName').first().json.TableName }}.{{ $parameter[\"fileFormat\"] }}"}},"id":"eb2522cf-4010-4f1c-a343-174d891e2c6b","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[260,120],"typeVersion":1},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[480,120],"id":"e6e8e954-1937-4aa2-978a-6b707023bb96","name":"Convert to File"}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"TableName","type":"main","index":0}]]},"TableName":{"main":[[{"node":"LoadMSSQLData","type":"main","index":0}]]},"LoadMSSQLData":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"SaveCSV":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"75d539cd-9ca9-401d-9798-c8a41d96092a","triggerCount":0,"tags":[]}