my-workflow-2-0cJR6GrHASVhYhVk.json
{"createdAt":"2025-03-12T23:35:22.170Z","updatedAt":"2025-03-13T19:54:04.548Z","id":"0cJR6GrHASVhYhVk","name":"My workflow 2","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n    OSs.Empresa AS COD_EMPRESA,\n\n    CASE WHEN OSs.Empresa = 1 THEN 'CRX Concox'\n         WHEN OSs.Empresa = 2 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 3 THEN 'Rastreio Brasil'\n         WHEN OSs.Empresa = 1002 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 1003 THEN 'Rastreio Brasil'\n    END AS EMPRESA,\n\n    OSS.Técnico AS COD_TECNICO,\n    CLI.Nome AS TECNICO,\n\n    CASE WHEN OSs.Tipo = 'R' THEN 'Retirada'\n         WHEN OSs.Tipo = 'V' THEN 'Venda'\n         WHEN OSs.Tipo = 'C' THEN 'Corretiva'\n         WHEN OSs.Tipo = 'P' THEN 'Preventiva'\n         WHEN OSs.Tipo = 'A' THEN 'Vistoria'\n         WHEN OSs.Tipo = 'M' THEN 'Manutenção'\n         WHEN OSs.Tipo = 'I' THEN 'Acordo (Captura)'\n    END AS TIPO,\n\n    OS.Descrição AS SERVICO,\n    OS.Quantidade AS QUANTIDADE,\n    OSs.Ordem AS ORDEM_SERVICO,\n    OSs.Cliente AS COD_CLIENTE,\n    C.Nome AS CLIENTE,\n    CONVERT(VARCHAR(10), OSs.DataFechamento, 103) AS DATA_FECHAMENTO\n\nFROM OSs (NOLOCK)\n\nINNER JOIN OSServiços OS (NOLOCK) ON OS.Planílha = OSs.Planílha\nINNER JOIN Clientes C (NOLOCK) ON C.CodCliente = OSs.Cliente\nINNER JOIN Clientes CLI (NOLOCK) ON CLI.CodCliente = OSS.Técnico\n\nWHERE OSs.DataFechamento >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\n  AND OSs.DataFechamento <= EOMONTH(DATEADD(MONTH, -1, GETDATE()))\n  AND OSs.Empresa IN (1002, 1003)\n\nORDER BY OSs.DataFechamento"},"name":"Microsoft SQL1","type":"n8n-nodes-base.microsoftSql","position":[-1300,160],"typeVersion":1,"id":"ab641718-8a61-4283-a0c7-378d7b34568f","credentials":{"microsoftSql":{"id":"UgKlk8aC1OaxVn5o","name":"Microsoft SQL account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1520,400],"id":"4ed104e7-b0c1-4a51-9b71-c0ac63f2fdd5","name":"Schedule Trigger1"},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### O relatório é gerado automaticamente para o mês anterior\n### Pode ser enviado por e-mail, salvo ou publicado\n","height":280,"width":502},"id":"436c0ff0-420b-44f4-a41c-bfabb503fe23","name":"Sticky Note - CSV1","type":"n8n-nodes-base.stickyNote","position":[-2040,600],"typeVersion":1},{"parameters":{"content":"## Automação para consulta do banco de dados\n## O fluxo coleta as OS dos técnicos referentes ao mês anterior,\n## gera um relatório CSV e envia para os gestores no primeiro dia do mês.\n","height":280,"width":462,"color":4},"id":"c05e4b36-4cef-42ac-985b-aade3cf3927f","name":"Sticky Note - Descrição1","type":"n8n-nodes-base.stickyNote","position":[-2060,220],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"c83406d9-4199-44c7-b9cc-4a5c9b7f30d7","name":"data","value":"$json","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,-20],"id":"8f1a16c6-0c63-4a29-9f9e-66e5bfc27580","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1FxF5SUNnk03u7EIMdobR_lnwrQn1qMKaiRadU0-4pSw","mode":"list","cachedResultName":"Relatorio_OS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FxF5SUNnk03u7EIMdobR_lnwrQn1qMKaiRadU0-4pSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Fevereiro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FxF5SUNnk03u7EIMdobR_lnwrQn1qMKaiRadU0-4pSw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-360,-120],"id":"b4e978ee-c866-498c-8c5c-a34af00df4af","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"EzmUgnjemCtlLjWK","name":"Google Sheets Ramos"}}},{"parameters":{"operation":"toFile","fileFormat":"csv","binaryPropertyName":"=data","options":{"fileName":"SpreadsheetFile","headerRow":true}},"id":"ad061a1e-7269-4369-b191-889b13a83002","name":"SaveCSV1","type":"n8n-nodes-base.spreadsheetFile","position":[-680,0],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11GLc8E1zQegvWXLa0yu5923cFRJO5S3h0MNQe2WtszE","mode":"list","cachedResultName":"os","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11GLc8E1zQegvWXLa0yu5923cFRJO5S3h0MNQe2WtszE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11GLc8E1zQegvWXLa0yu5923cFRJO5S3h0MNQe2WtszE/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["row_number"],"schema":[{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-360,160],"id":"4c3890be-07d1-4950-a28a-71fbcb6c1da0","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"EzmUgnjemCtlLjWK","name":"Google Sheets Ramos"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-760,240],"id":"b530b8e2-8230-453d-b6b9-c53edb8a6a1e","name":"Convert to File"}],"connections":{"Microsoft SQL1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"SaveCSV1":{"main":[[]]},"Google Sheets":{"main":[[]]},"Convert to File":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f025044-2274-402e-bd40-570ba7e4037b","triggerCount":0,"tags":[]}