os-RvOvr7F0gvqCeuSk.json
{"createdAt":"2025-03-08T14:37:06.223Z","updatedAt":"2025-03-08T14:37:33.860Z","id":"RvOvr7F0gvqCeuSk","name":"os","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n    OSs.Empresa AS COD_EMPRESA,\n\n    CASE WHEN OSs.Empresa = 1 THEN 'CRX Concox'\n         WHEN OSs.Empresa = 2 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 3 THEN 'Rastreio Brasil'\n         WHEN OSs.Empresa = 1002 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 1003 THEN 'Rastreio Brasil'\n    END AS EMPRESA,\n\n    OSS.Técnico AS COD_TECNICO,\n    CLI.Nome AS TECNICO,\n\n    CASE WHEN OSs.Tipo = 'R' THEN 'Retirada'\n         WHEN OSs.Tipo = 'V' THEN 'Venda'\n         WHEN OSs.Tipo = 'C' THEN 'Corretiva'\n         WHEN OSs.Tipo = 'P' THEN 'Preventiva'\n         WHEN OSs.Tipo = 'A' THEN 'Vistoria'\n         WHEN OSs.Tipo = 'M' THEN 'Manutenção'\n         WHEN OSs.Tipo = 'I' THEN 'Acordo (Captura)'\n    END AS TIPO,\n\n    OS.Descrição AS SERVICO,\n    OS.Quantidade AS QUANTIDADE,\n    OSs.Ordem AS ORDEM_SERVICO,\n    OSs.Cliente AS COD_CLIENTE,\n    C.Nome AS CLIENTE,\n    CONVERT(VARCHAR(10), OSs.DataFechamento, 103) AS DATA_FECHAMENTO\n\nFROM OSs (NOLOCK)\n\nINNER JOIN OSServiços OS (NOLOCK) ON OS.Planílha = OSs.Planílha\nINNER JOIN Clientes C (NOLOCK) ON C.CodCliente = OSs.Cliente\nINNER JOIN Clientes CLI (NOLOCK) ON CLI.CodCliente = OSS.Técnico\n\nWHERE OSs.DataFechamento >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\n  AND OSs.DataFechamento < DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)\n  AND OSs.Empresa IN (1002, 1003)\n\nORDER BY OSs.DataFechamento\n"},"name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","position":[700,80],"typeVersion":1,"id":"ce6af660-a9a6-4517-83bc-d85b0795cd4c"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[500,80],"id":"b3167d30-e067-4e9f-86ca-7f9e171611d4","name":"Schedule Trigger"},{"parameters":{},"id":"1d2db4cb-b7fc-4809-8191-a279bd38896d","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[100,640],"typeVersion":1},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### Você pode enviá-lo por e-mail, fazer upload para o armazenamento de arquivos ou fazer download em seu computador.\n### Basta conectar um ou dois nós n8n extras aqui!","height":280,"width":682},"id":"ee4eefb2-8db4-483b-96fa-ec04a24ef715","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[640,520],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"TableName","value":"SalesLT.ProductCategory"}]},"options":{}},"id":"88954adf-d481-4eee-b489-6f4dca29dd18","name":"TableName","type":"n8n-nodes-base.set","position":[300,640],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json[\"TableName\"] }}"},"id":"2c57fb21-5b3e-44e1-960f-0cf650511131","name":"LoadMSSQLData","type":"n8n-nodes-base.microsoftSql","position":[480,640],"typeVersion":1},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"={{ $('TableName').first().json.TableName }}.{{ $parameter[\"fileFormat\"] }}"}},"id":"d61e22a6-da92-47a1-9632-12eb1843b966","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[900,640],"typeVersion":1},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,640],"id":"571c158a-c056-413d-9a99-2b42f57159ac","name":"Convert to File"},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"=relatorio_mensal_{{ $moment().subtract(1, 'month').format('YYYYMM') }}.csv\n","headerRow":true}},"id":"6a605589-c389-4017-8bac-d07902910a84","name":"SaveCSV1","type":"n8n-nodes-base.spreadsheetFile","position":[920,80],"typeVersion":1},{"parameters":{"operation":"sendAndWait","sendTo":"ti.coordenador@ramosgrupo.com.br, gerencia@cearagps.com.br ","subject":"Relatório Mensal - {{ $moment().subtract(1, 'month').format('MMMM YYYY') }}","message":"Segue em anexo o relatório mensal referente a {{ $moment().subtract(1, 'month').format('MMMM YYYY') }}.\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1360,100],"id":"9c178d70-2c0a-45da-8272-da2c20053183","name":"Gmail","webhookId":"595f05bd-bd6a-439f-90ad-0e599dbd82b5"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"to\": [\"destinatario1@example.com\", \"destinatario2@example.com\"],\n  \"subject\": \"Relatório Mensal - {{$now.format('MMMM YYYY')}}\",\n  \"body\": \"Segue em anexo o relatório mensal referente a {{$now.subtract(1, 'month').format('MMMM YYYY')}}.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,100],"id":"080016b2-cfaf-4e23-be36-b18b333c5547","name":"Edit Fields"},{"parameters":{"content":"## Automação que faz consulta no BD, para verificar as OS dos atendimentos dos técnicos no mês que passou,  gera um arquivo CSV e envia para Joelmir todo dia 01 do mês. \n","height":280,"width":462,"color":4},"id":"b68cd2dd-9a0a-4b6e-a1b3-d4f87adff309","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Schedule Trigger":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"TableName":{"main":[[{"node":"LoadMSSQLData","type":"main","index":0}]]},"LoadMSSQLData":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"TableName","type":"main","index":0}]]},"SaveCSV":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"SaveCSV1","type":"main","index":0}]]},"SaveCSV1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ebe554ff-c0ac-4e4c-91ae-608ea7a2b1c0","triggerCount":0,"tags":[]}