ossss-0cJR6GrHASVhYhVk.json
{"createdAt":"2025-03-12T23:35:22.170Z","updatedAt":"2025-03-13T20:29:48.748Z","id":"0cJR6GrHASVhYhVk","name":"ossss","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n    OSs.Empresa AS COD_EMPRESA,\n\n    CASE WHEN OSs.Empresa = 1 THEN 'CRX Concox'\n         WHEN OSs.Empresa = 2 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 3 THEN 'Rastreio Brasil'\n         WHEN OSs.Empresa = 1002 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 1003 THEN 'Rastreio Brasil'\n    END AS EMPRESA,\n\n    OSS.Técnico AS COD_TECNICO,\n    CLI.Nome AS TECNICO,\n\n    CASE WHEN OSs.Tipo = 'R' THEN 'Retirada'\n         WHEN OSs.Tipo = 'V' THEN 'Venda'\n         WHEN OSs.Tipo = 'C' THEN 'Corretiva'\n         WHEN OSs.Tipo = 'P' THEN 'Preventiva'\n         WHEN OSs.Tipo = 'A' THEN 'Vistoria'\n         WHEN OSs.Tipo = 'M' THEN 'Manutenção'\n         WHEN OSs.Tipo = 'I' THEN 'Acordo (Captura)'\n    END AS TIPO,\n\n    OS.Descrição AS SERVICO,\n    OS.Quantidade AS QUANTIDADE,\n    OSs.Ordem AS ORDEM_SERVICO,\n    OSs.Cliente AS COD_CLIENTE,\n    C.Nome AS CLIENTE,\n    CONVERT(VARCHAR(10), OSs.DataFechamento, 103) AS DATA_FECHAMENTO\n\nFROM OSs (NOLOCK)\n\nINNER JOIN OSServiços OS (NOLOCK) ON OS.Planílha = OSs.Planílha\nINNER JOIN Clientes C (NOLOCK) ON C.CodCliente = OSs.Cliente\nINNER JOIN Clientes CLI (NOLOCK) ON CLI.CodCliente = OSS.Técnico\n\nWHERE OSs.DataFechamento >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\n  AND OSs.DataFechamento <= EOMONTH(DATEADD(MONTH, -1, GETDATE()))\n  AND OSs.Empresa IN (1002, 1003)\n\nORDER BY OSs.DataFechamento"},"name":"Microsoft SQL1","type":"n8n-nodes-base.microsoftSql","position":[-1300,160],"typeVersion":1,"id":"ab641718-8a61-4283-a0c7-378d7b34568f","credentials":{"microsoftSql":{"id":"UgKlk8aC1OaxVn5o","name":"Microsoft SQL account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1520,400],"id":"4ed104e7-b0c1-4a51-9b71-c0ac63f2fdd5","name":"Schedule Trigger1"},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### O relatório é gerado automaticamente para o mês anterior\n### Pode ser enviado por e-mail, salvo ou publicado\n","height":280,"width":502},"id":"436c0ff0-420b-44f4-a41c-bfabb503fe23","name":"Sticky Note - CSV1","type":"n8n-nodes-base.stickyNote","position":[-2040,600],"typeVersion":1},{"parameters":{"content":"## Automação para consulta do banco de dados\n## O fluxo coleta as OS dos técnicos referentes ao mês anterior,\n## gera um relatório CSV e envia para os gestores no primeiro dia do mês.\n","height":280,"width":462,"color":4},"id":"c05e4b36-4cef-42ac-985b-aade3cf3927f","name":"Sticky Note - Descrição1","type":"n8n-nodes-base.stickyNote","position":[-2060,220],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"c83406d9-4199-44c7-b9cc-4a5c9b7f30d7","name":"data","value":"$json","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,-20],"id":"8f1a16c6-0c63-4a29-9f9e-66e5bfc27580","name":"Edit Fields"},{"parameters":{"operation":"toFile","fileFormat":"csv","binaryPropertyName":"=data","options":{"fileName":"relatorio","headerRow":true}},"id":"ad061a1e-7269-4369-b191-889b13a83002","name":"SaveCSV1","type":"n8n-nodes-base.spreadsheetFile","position":[-780,120],"typeVersion":1},{"parameters":{"options":{"fileName":"Relatoooorio"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-520,300],"id":"b530b8e2-8230-453d-b6b9-c53edb8a6a1e","name":"Convert to File"},{"parameters":{"operation":"createFromText","name":"Relatório","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ElHI5NnZyW-xkFYjZMxMzD2_sOfCfRcC","mode":"list","cachedResultName":"Relatórios","cachedResultUrl":"https://drive.google.com/drive/folders/1ElHI5NnZyW-xkFYjZMxMzD2_sOfCfRcC"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-260,380],"id":"f008262e-2aa8-4c4e-8a80-5d2dedd98473","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ups9ChCRYEn37H4W","name":"Google Drive account Ramos"}}}],"connections":{"Microsoft SQL1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"SaveCSV1","type":"main","index":0}]]},"SaveCSV1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1e101ab-c5d6-4777-bde9-ed47a97428d1","triggerCount":0,"tags":[]}