teste3_os_serviços-G1b1GbS2EtxbPFTE.json
{"createdAt":"2025-03-12T18:29:36.717Z","updatedAt":"2025-03-12T19:59:16.841Z","id":"G1b1GbS2EtxbPFTE","name":"teste3_os_serviços","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n    OSs.Empresa AS COD_EMPRESA,\n\n    CASE WHEN OSs.Empresa = 1 THEN 'CRX Concox'\n         WHEN OSs.Empresa = 2 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 3 THEN 'Rastreio Brasil'\n         WHEN OSs.Empresa = 1002 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 1003 THEN 'Rastreio Brasil'\n    END AS EMPRESA,\n\n    OSS.Técnico AS COD_TECNICO,\n    CLI.Nome AS TECNICO,\n\n    CASE WHEN OSs.Tipo = 'R' THEN 'Retirada'\n         WHEN OSs.Tipo = 'V' THEN 'Venda'\n         WHEN OSs.Tipo = 'C' THEN 'Corretiva'\n         WHEN OSs.Tipo = 'P' THEN 'Preventiva'\n         WHEN OSs.Tipo = 'A' THEN 'Vistoria'\n         WHEN OSs.Tipo = 'M' THEN 'Manutenção'\n         WHEN OSs.Tipo = 'I' THEN 'Acordo (Captura)'\n    END AS TIPO,\n\n    OS.Descrição AS SERVICO,\n    OS.Quantidade AS QUANTIDADE,\n    OSs.Ordem AS ORDEM_SERVICO,\n    OSs.Cliente AS COD_CLIENTE,\n    C.Nome AS CLIENTE,\n    CONVERT(VARCHAR(10), OSs.DataFechamento, 103) AS DATA_FECHAMENTO\n\nFROM OSs (NOLOCK)\n\nINNER JOIN OSServiços OS (NOLOCK) ON OS.Planílha = OSs.Planílha\nINNER JOIN Clientes C (NOLOCK) ON C.CodCliente = OSs.Cliente\nINNER JOIN Clientes CLI (NOLOCK) ON CLI.CodCliente = OSS.Técnico\n\nWHERE OSs.DataFechamento >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\n  AND OSs.DataFechamento <= EOMONTH(DATEADD(MONTH, -1, GETDATE()))\n  AND OSs.Empresa IN (1002, 1003)\n\nORDER BY OSs.DataFechamento"},"name":"Microsoft SQL1","type":"n8n-nodes-base.microsoftSql","position":[-1920,-120],"typeVersion":1,"id":"a239bd39-8601-4249-8600-24073020b253","credentials":{"microsoftSql":{"id":"UgKlk8aC1OaxVn5o","name":"Microsoft SQL account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2200,100],"id":"1df55f5f-b21c-4d78-ba0e-62cdf5f08f1a","name":"Schedule Trigger1"},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### O relatório é gerado automaticamente para o mês anterior\n### Pode ser enviado por e-mail, salvo ou publicado\n","height":280,"width":502},"id":"3a36c95e-991d-4545-ac3f-2541f079b335","name":"Sticky Note - CSV1","type":"n8n-nodes-base.stickyNote","position":[-2720,320],"typeVersion":1},{"parameters":{"operation":"toFile","fileFormat":"csv","binaryPropertyName":"=data","options":{"fileName":"=\"fileName\": \"relatorio_mensal_{{ $moment().subtract(1, 'month').format('YYYYMM') }}.csv\"\n","headerRow":true}},"id":"a1168d10-449c-4886-acf8-741d0452ab59","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[-1660,100],"typeVersion":1},{"parameters":{"content":"## Automação para consulta do banco de dados\n## O fluxo coleta as OS dos técnicos referentes ao mês anterior,\n## gera um relatório CSV e envia para os gestores no primeiro dia do mês.\n","height":280,"width":462,"color":4},"id":"eaa07e7c-51ab-46f3-af8e-1f55886ca2a0","name":"Sticky Note - Descrição1","type":"n8n-nodes-base.stickyNote","position":[-2740,-60],"typeVersion":1},{"parameters":{"jsCode":"const moment = require('moment');\nmoment.locale('pt-br');\n\nreturn [{\n    month: moment().subtract(1, 'month').format('MMMM YYYY')\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1380,-140],"id":"6345d583-7e08-4060-a385-2263c7ad6260","name":"Code"},{"parameters":{"sendTo":"ti.coordenador@ramosgrupo.com.br","subject":"=Relatório Mensal de {{ $json.month }}","emailType":"text","message":"=Segue em anexo o relatório mensal de {{ $json.month }}.","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"=={{ $node[\"SaveCSV\"].binary }}\n"}]}}},"id":"5a990b90-7408-4143-b293-5833c8d1d331","name":"Send CSV via e-mail","type":"n8n-nodes-base.gmail","position":[-1120,120],"typeVersion":2.1,"webhookId":"9164d7ee-d377-4438-a24a-bc6a382b3740","credentials":{"gmailOAuth2":{"id":"8EJqxKyYGT38mIP7","name":"Gmail account Clenildon"}}}],"connections":{"Microsoft SQL1":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"SaveCSV":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send CSV via e-mail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"828b4367-5ff9-4ab8-83a4-423fb6855097","triggerCount":0,"tags":[]}