teste_consulta-HEQEBFhRBYfu9q3z.json
{"createdAt":"2025-03-14T01:37:15.310Z","updatedAt":"2025-03-14T03:27:08.803Z","id":"HEQEBFhRBYfu9q3z","name":"teste_consulta","active":false,"nodes":[{"parameters":{"path":"consulta_placa","options":{}},"name":"Receber Mensagem WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[280,-400],"id":"7cd76986-f081-45f4-bd97-6020ab83b635","webhookId":"c48c0eee-12c0-42f1-9b1e-776f8553ddd4"},{"parameters":{"functionCode":"const msg = $json.body.message;\nconst regexPlaca = /^[A-Z]{3}[0-9][0-9A-Z][0-9]{2}$/;\nconst regexCpf = /^\\d{3}\\.\\d{3}\\.\\d{3}-\\d{2}$/;\n\nif (regexPlaca.test(msg)) {\n  return [{ placa: msg }];\n} else if (regexCpf.test(msg)) {\n  return [{ cpf: msg }];\n} else {\n  return [{ erro: 'Formato inválido. Envie uma placa ou CPF válido.' }];\n}"},"name":"Extrair Placa/CPF","type":"n8n-nodes-base.function","typeVersion":1,"position":[480,-400],"id":"64440f32-7725-44f2-8198-f1ebedba8a75"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    Nome AS 'NOME',\n    Endereco AS 'ENDEREÇO',\n    Contato AS 'CONTATO',\n    Plano AS 'PLANO',\n    Placa AS 'PLACA',\n    MensalidadesAtraso AS 'MENSALIDADES EM ABERTO',\n    ValorDebito AS 'VALOR DÉBITO'\nFROM Clientes\nWHERE Placa = '{{ $json[\"placa\"] }}' OR CPF = '{{ $json[\"cpf\"] }}';\n"},"name":"Consulta no Banco SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[680,-400],"id":"e19f9896-0e48-46c6-b6f1-f84939ef5a3d","credentials":{"microsoftSql":{"id":"UgKlk8aC1OaxVn5o","name":"Microsoft SQL account"}}},{"parameters":{"functionCode":"const dados = $json;\nif (dados.erro) {\n  return [{ message: dados.erro }];\n}\n\nconst resposta = `*CAPTURA*\nNOME: ${dados.NOME}\nENDEREÇO: ${dados.ENDEREÇO}\nCONTATO: ${dados.CONTATO}\nPLANO: ${dados.PLANO}\nPLACA: ${dados.PLACA}\nMENSALIDADES EM ABERTO: ${dados[\"MENSALIDADES EM ABERTO\"]}\nVALOR DÉBITO: R$ ${dados[\"VALOR DÉBITO\"]}`;\n\nreturn [{ message: resposta }];"},"name":"Formatar Resposta","type":"n8n-nodes-base.function","typeVersion":1,"position":[880,-400],"id":"a83928a1-7209-482b-b73e-09fbec5c7341"},{"parameters":{"url":"https://api.whatsapp.com/send","jsonParameters":true,"options":{}},"name":"Enviar Mensagem WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1080,-400],"id":"5f298cae-c36c-48c7-9f9a-0f4448bbcc61"}],"connections":{"Receber Mensagem WhatsApp":{"main":[[{"node":"Extrair Placa/CPF","type":"main","index":0}]]},"Extrair Placa/CPF":{"main":[[{"node":"Consulta no Banco SQL","type":"main","index":0}]]},"Consulta no Banco SQL":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]},"Formatar Resposta":{"main":[[{"node":"Enviar Mensagem WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6588a18f-0011-4e82-b832-793007886b0a","triggerCount":0,"tags":[]}