teste_chatbot-Dzj2r9r7K9JObK8F.json
{"createdAt":"2025-03-14T02:08:48.627Z","updatedAt":"2025-03-14T03:06:02.485Z","id":"Dzj2r9r7K9JObK8F","name":"teste_chatbot","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consulta_placa","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[60,480],"id":"652d258e-c790-447b-8bdc-c37b027a2cfa","name":"Webhook","webhookId":"540ed0bc-5fad-425e-8fce-b05b4cd0e27b"},{"parameters":{"assignments":{"assignments":[{"id":"310c0cce-bd8e-43b1-b40e-850a9d8a1daa","name":"Quem mandou","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"080faabe-abf9-45ee-9711-1f475c3742c3","name":"Instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"caf10002-6d7c-42f1-b088-1b18c8a39096","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"04f7b0d5-9a52-4594-b71c-04a1b4c95e47","name":"Id da mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"e90cf818-d301-4ee8-9045-28475b788d43","name":"Nome da pessoa","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,480],"id":"5ceca2b5-ea19-4aef-a90d-f4f5fab13e3d","name":"Dados"},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.Mensagem }}","options":{"systemMessage":"=Você deve responder dúvidas dos clientes sobre a nossa página."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[660,480],"id":"58698e18-82c5-484b-84de-77e9ab6221de","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,860],"id":"ef85809c-d4a0-449f-b9e7-ad4a649bdd9a","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json['Quem mandou'] }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[780,860],"id":"4f2a54fa-e726-43b6-a915-8c725201110c","name":"Redis Chat Memory","credentials":{"redis":{"id":"gTqRXcj09r6tqIgv","name":"Redis account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Dados').item.json.Instancia }}","remoteJid":"={{ $('Dados').item.json['Quem mandou'] }}","messageId":"={{ $('Dados').item.json['Id da mensagem'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1180,480],"id":"deb59ef7-22e3-4ec5-9d7f-9a423ae089ea","name":"Evolution API","credentials":{"evolutionApi":{"id":"Lm7uDhDos9KShuW5","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Dados').item.json.Instancia }}","remoteJid":"={{ $('Dados').item.json['Quem mandou'] }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1380,480],"id":"a77c6c67-f4ff-49e0-896b-587a75724a4d","name":"Evolution API1","credentials":{"evolutionApi":{"id":"Lm7uDhDos9KShuW5","name":"Evolution account"}}},{"parameters":{"toolDescription":"Retorna informações da nossa página","url":"https://www.youtube.com/@guilherme_laz"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1040,840],"id":"f66a953a-b284-45c1-96a9-65fc33666be5","name":"HTTP Request"},{"parameters":{"content":"## Como usar:\n\n1. Copie a URL do Webhook e cole na sua instância da Evolution\n\n2. Modifique o System Prompt do AI Agent\n\n3. Escolha entre o Groq ou OpenAi e insira as credenciais\n\n4. Insira as credenciais do Redis\n\n5. Altere o Link da página que você quer consultar no node HTTP Request","height":300,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"80d2bd92-780f-4f65-ba23-4a87f8ac0af0","name":"Sticky Note"},{"parameters":{"content":"# 1\nCopie a URL de produção e cole na Evolution","height":240,"width":250,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,360],"id":"a5a32494-66fe-4f25-9ad5-2099a2240ce0","name":"Sticky Note1"},{"parameters":{"content":"# 2\nModifique o System Prompt do agente\n","height":300,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,380],"id":"028d0644-cf8d-4c32-a8d2-067578ccbda2","name":"Sticky Note2"},{"parameters":{"content":"# 3\nEscolha um, insira as credenciais e conecte ao agente","height":280,"width":290,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,720],"id":"ff714613-e96d-4906-a7c0-470b0e727b2a","name":"Sticky Note3"},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[560,860],"id":"d217f7ff-c005-4000-b058-b0cc25dbd855","name":"Groq Chat Model","credentials":{"groqApi":{"id":"pHUWalsXgEdn2yHu","name":"Groq account"}}},{"parameters":{"content":"# 4\nInsira as credenciais","height":280,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[740,720],"id":"ce6d5f0c-64ec-46fa-9157-e3cb9dc397c4","name":"Sticky Note4"},{"parameters":{"content":"# 5\nAltere o link da página","height":280,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,720],"id":"28a66f47-641d-40c6-83b0-1aced418c7dd","name":"Sticky Note5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[60,760],"id":"8aa9de9d-6096-4abd-bd1a-0f52b26e57ec","name":"When chat message received","webhookId":"9a63f4d0-0b3b-402a-a7da-1b5bdb1212d5"}],"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"89034818-7ce1-45c0-b6f2-a2fceb036984","triggerCount":0,"tags":[]}